:root {
 --maintheme-color: #290012;
 --secondarytheme-color: #985534;
 --thirdtheme-color: #f6f7eb;
}

* {
  box-sizing: border-box;
  }
  
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  }

  header {
    background-color: var(--maintheme-color);
    height: 12rem;
    position: relative;
  }

  header h1 {
    color: var(--thirdtheme-color);
    padding: 1%;
    margin: 1% 0 0 0;
  }

  header .container  {
    background-image: url("../images/my-photo-spain.png");
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 7%;
    left: 75%;
    
  }  

  header .clearfix {
    overflow: auto;
  }

  nav {
    background-color: var(--secondarytheme-color);
    height: 30%
  }
  nav ul {
    color: var(--maintheme-color);
    text-align: right;
    list-style: none;
    margin: 0;
  }

  nav ul li {
    display: inline-block;
    color: var(--thirdtheme-color);
    font-weight: 700;
    text-transform: lowercase;
    padding: 1%;
  }

  nav a {
    text-decoration: none;
    color: var(--maintheme-color);
  }

  nav a:visited {
    text-decoration: underline;
    color: var(--maintheme-color);
  }

  .hero-image {
    height: 500px;
    width: 100%;
    margin-bottom: .25%;
    background-image: url("../images/SpainLove.png");
    background-size: cover;
    background-position: center;
}
  aside {
    display: flex;
    flex: 30%;
  }
  aside section {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      background-color: var(--thirdtheme-color);
      padding: 20px;
      border: 10px solid #487063;
      margin: 2%;
    }

  aside h2 {
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: var(--maintheme-color);
    text-decoration: underline solid var(--secondarytheme-color);
  }

  aside p {
    flex-wrap: wrap;
    text-align: center;
  }       

  main {
    display: flex;
    flex-wrap: wrap;      
    justify-content: space-around;
    }
    
    main section {
      display: inline-block;
      width: 100%;
      height: 500px;
      background-color: var(--thirdtheme-color);
      padding: 20px;
      border: 10px solid #487063;
      margin: 2%;
      position: relative;
    }

    main section h2 {
      text-align: center;
      text-decoration: underline var(--secondarytheme-color);
      font-weight: bold;
      padding-bottom: .25%;
    }

    main section p {
      text-align: center;
    }

    main section #work {
      float: left;
      width: 50%
    }

    main h3 {
      background-color: #f6f7eb;
      color: var(--maintheme-color);
      
    }
    
    
    .first-project {
      position: absolute;
      left: 40%;
      bottom: 50%;
      margin-bottom: .25%;
      background-image: url("../images/digital-marketing-meeting.jpg");
      background-size: cover;
    }
  
  footer {
    background-color: var(--maintheme-color);
    height: 40%;
    border-top: 10px solid var(--secondarytheme-color);
  }

  footer h2 {
    color: var(--thirdtheme-color);
    text-align: center;
    font-weight: bolder;
    padding-top: 1%;
    margin: 0;
  }

  footer ul {
    text-align: center;
    list-style: none;
    margin: 0% 2% 2% 0;
  }

  footer ul li {
    display: inline-block;
    color: var(--secondarytheme-color);
    font-weight: 700;
    padding-bottom: 1%;
  }

  Footer a {
    text-decoration: none;
    color: var(--secondarytheme-color);
  }

  footer a:visited {
    text-decoration: underline;
    color: var(--secondarytheme-color);
  }

@media screen and (max-width: 992px) {
  body { 
      width: 50%
   }
  }
  
  @media screen and (max-width: 768px) {
    body {
      width: 100%
    }
  }
  