:root {
 --maintheme-color: #290012;
 --secondarytheme-color: #985534;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

  header {
    background-color: var(--maintheme-color);
    height: 50%;
    border-bottom: 10px solid var(--secondarytheme-color);
    
  }

  header h1 {
    color: #fff;
    font-weight: bold;
    font-size: xx-large;
    text-align: right;
    margin: 1% 2% 0 0;
  }

  header nav ul {
    text-align: right;
    list-style: none;
    margin: 2% 2% 2% 0;
  }

  header nav ul li {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    padding-right: 1%;
  }

  main {
    height: 
  }
  #about {
    justify-content: flex-start;
    height: 100%;
    width: 25%;
    border: 10px solid #497063;
  }

  @media screen and (max-width: 992px) {
   .card {
    width: 50%
   }
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%
    }
  }
  